uni-page-body {
	height: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
}

page {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding-bottom: constant(safe-area-inset-bottom) !important;
	padding-bottom: env(safe-area-inset-bottom) !important;
}

.content {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.body {
	background-color: white;
	padding: 0 15px;
	overflow-y: auto;
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}